

<div class="row mb-4 blog">
  {{!-- <div class="col-md-5">
   
      <p>{{blog.id}}.  {{blog.reply}}</p>

    <p style="font-size: xx-small;">Created by {{blog.user.name}} on {{format_date blog.date_created}}</p>
  </div> --}}
      <h1>Welcome to the Tech-Blog</h1>
      <h4>Please Login to view the latest posts</h4>

</div>

 