<!-- Loop over each object in the blogs array -->
{{#each blogs as |blog| }}
<div class="row mb-4 blog">
  <div class="col-md-5">
   
      <p>{{blog.id}}.  {{blog.reply}}</p>

    <p style="font-size: xx-small;">Created by {{blog.user.name}} on {{format_date blog.date_created}}</p>
  </div>

</div>
{{/each}}
 